/**/classes_gen
/**/source_gen
/**/source_gen.caches
/.mps
/Jess71p2
/Jess71p2/docs
/Jess71p2/examples
/Rules/.metadata
/Rules/SimpleRule/.project
/drools-distribution-6.1.0.Final/examples
/drools-distribution-6.1.0.Final/javadoc
/drools-distribution-6.1.0.Final/reference_manual
